<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../static/css/index.css">
    <meta charset="UTF-8">
    <title>Who am I?</title>
</head>
<body>

<div class="container">
    <div class="heading-container">
        <h1>Asking yourself who <a href="linus.html">I am?</a></h1>
    </div>

    <div class="input-container">
        <form method="post" action="../index.php">
            <div class="input-wrapper">
                <svg class=" opacity-50 mail-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                    <g stroke-linejoin="round" stroke-linecap="round" stroke-width="2.5" fill="none" stroke="currentColor">
                        <rect width="20" height="16" x="2" y="4" rx="2"></rect>
                        <path d="m22 7-8.97 5.7a1.94 1.94 0 0 1-2.06 0L2 7"></path>
                    </g>
                </svg>
                <label for="email"></label>
                <input type="email" id="email" name="email" placeholder="Contact Me" class="email-input">
            </div>
                <button type="submit" class="email-submit-button">Senden</button>
        </form>
    </div>
</div>

</body>
</html>

